.search-box-div {
    position: relative;
    /* border: 2px solid red ; */
    top: -6.7rem;
  margin: -2rem auto;
  display: block;
  max-width: 100%;
  overflow:hidden !important;
  height:110vh;
  background-color: rgba(255, 255, 255, 0.238);
  
}
.cross-img{
 width: 45px;
}
.search-box{
    /* border: 2px solid red ; */
    display: inline;
    width: 100%;
    position: absolute;
    top: 3rem;
    overflow-y: hidden;
    display: flex;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}
.search-here{
    width: 60%;
    padding: 0.75rem 0.75rem 0.75rem 1.2rem  ;
    font-size: 1.1rem;
    border: 1px solid black;
    font-weight:500;
   font-family: "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif;

    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    letter-spacing: 1px;
    outline: none;
    -webkit-text-stroke: 0;
}
.search-here::-webkit-search-cancel-button{
    appearance: none;

}
.search-here:focus{
    border: 1px solid black;
    outline: none;

}
.search-icons{
    display: flex;
    gap: 1rem;
}



@media only screen and (max-width:620px){
    .search-box-div{
        top:-3.95rem;
    }
 .search-here{
  width: 80%;
  padding: 0.4rem 1rem;
 }
 .search-icons{
    gap: 0.3rem;
 }
 .search-icons img{
  width: 30px;
 }
 .search-icons .cross-img{
  width: 35px;
 }
 .search-box{
    width: 98%;
    margin: 0px 0.5rem;
    gap: 0.5rem;
  
 }

}
@media only screen and (min-width:620px) and (max-width:768px){
    .search-box-div{
        top:-6.27rem;

    }
    .search-box{
        top: 2.5rem;
    }
    .search-here{
        width: 70%;
        font-size: 1rem;
        padding: 0.6rem 0.6rem 0.6rem 1rem;
    }
}
@media only screen and (max-width:420px){
  .search-box-div{
    top: -3.65rem;
  }
  .search-box{
  
    width: 98%;
    margin: 0px 0.5rem;
    gap: 0.4rem;
  }
  .search-icons{
    gap: 0.3rem;
  }

  .search-here{
    width: 98%;
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
  .search-icons img{
    width:25px;
  }
  .search-icons .cross-img{
    width: 30px;
  }
  
}

