.search-box-div {
  position: relative;
  top: -6.51rem;
  margin: -2rem auto;
  overflow:hidden;
  height: 110vh;
  background-color: rgba(255, 255, 255, 0.238);
  
}
.search-box{
    /* border: 2px solid red ; */
    display: inline;
    width: 100%;
    position: absolute;
    top: 3rem;
    overflow-y: hidden;
    display: flex;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}
.search-here{
    width: 60%;
    padding: 0.75rem 0.75rem 0.75rem 1.2rem  ;
    font-size: 1.1rem;
    border: 1px solid black;
    font-weight: 500;
    outline: none;
    -webkit-text-stroke: 0;
}
.search-here::-webkit-search-cancel-button{
    appearance: none;

}
.search-here:focus{
    border: 1px solid black;
    outline: none;

}
.search-icons{
    display: flex;
    gap: 1rem;
}
@media only screen and (max-width:620px){
    .search-box-div{
        top:-5.15rem;
        width: 180%;
    }
}
@media only screen and (min-width:620px) and (max-width:768px){
    .search-box-div{
        top:-6.27rem;
        width: 110%;
    }
    .search-box{
        top: 2.5rem;
    }
    .search-here{
        width: 70%;
        font-size: 1rem;
        padding: 0.6rem 0.6rem 0.6rem 1rem;
    }
}
@media only screen and (max-width:420px){
  .search-box-div{
    top: -4.37rem;
  }
  
}