* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  background-color: #0F0B07;
  color: whitesmoke;
  overflow-x: hidden;
}
.headline {
  /* border: 2px solid red ; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding: 6.2px 0px;
  font-weight: 600;
  font-family: 'popins', sans-serif;
  background-color: rgba(221, 179, 52, 0.86);
  color: #000000;
  white-space: nowrap;
  position: relative;
  top: 0px;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.headlinetxt {
  animation: headlinebanner 11s linear infinite;
}
@keyframes headlinebanner {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
/* banner done here  */
@media  only screen and (max-width:620px) {
  .headline{
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
    margin: 0px auto 35px auto;
    padding: 4px 0px;
  }
  

}
@media only screen and (max-width:420px){
  .headline{
    font-size: 0.85rem;
    padding: 10px 0px;
    font-weight: bold;
  }
  
}
@media only screen and (min-width:620px) and (max-width:768px){
  .headline{
    padding: 8px 0px;
    font-size: 0.85rem;
    font-weight: bold;
    /* width: 110%; */
  }
}

/* HABRUGER CSS HERE */

.menu{
  /* border: 2px solid red ; */
  max-width:85vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.238);
  transition: all 0.5s ease-in !important; 
  pointer-events: none;
  z-index: 100;
}
.menu ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: 'Times New Roman', Times, serif;
}
.menu ul li{
  list-style-type: none;
}
.menu ul li a{
  letter-spacing:2px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
}