* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0F0B07;
  color: whitesmoke;
  overflow-x: hidden;
}
.headline {
    /* border: 2px solid red ; */
  font-size: 1.15rem;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding: 6.2px 0px;
  font-weight: 600;
  font-family: 'popins', sans-serif;
  background-color: rgba(221, 179, 52, 0.86);
  color: #000000;
  white-space: nowrap;
  position: relative;
  top: 0px;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.headlinetxt {
  animation: headlinebanner 11s linear infinite;
}
@keyframes headlinebanner {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
/* banner done here  */
